/////////////////////////////////////////////////////////////
/** Webfonts **/
/////////////////////////////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url("http://overpass-30e2.kxcdn.com/overpass.css");

/////////////////////////////////////////////////////////////
/** Config **/
/////////////////////////////////////////////////////////////

@content-bg: #ffffff;

@color-1-light:#fa7c7a;
@color-1-dark:#f8504d;

@color-2-light:#fe9867;
@color-2-dark:#fd7634;

@color-3-light:#ffd453;
@color-3-dark:#ffc61d;

@color-4-light:#e4e539;
@color-4-dark:#dbdc03;

@color-5-light:#a6db36;
@color-5-dark:#88cf00;

@color-6-light:#63c289;
@color-6-dark:#2fae61;

@color-7-light:#37c9c2;
@color-7-dark:#01b7ad;

@color-8-light:#38c1f6;
@color-8-dark:#02acf3;

@color-9-light:#36aaec;
@color-9-dark:#008de6;

@color-10-light:#6f70b4;
@color-10-dark:#4e46ff;

@color-11-light:#a45aff;
@color-11-dark:#8524ff;

@color-12-light:#c958ee;
@color-12-dark:#b722e8;

@color-13-light:#e636aa;
@color-13-dark:#de008d;

@color-14-light:#f8366f;
@color-14-dark:#f5003f;

/////////////////////////////////////////////////////////////
/** container styling **/
/////////////////////////////////////////////////////////////

TABLE.grid-container {
   // box-shadow:0 0 15px rgba(0,0,0,0.5);
}

/////////////////////////////////////////////////////////////
/** bg colors **/
/////////////////////////////////////////////////////////////


TABLE.grid-row {
    attr-bgcolor: @content-bg;
    background-color: @content-bg;

    &.bg-color-1 {
        background-color:#fafafa!important;
        -attr-bg-color:#fafafa;
    }

    &.bg-color-2 {
        background-color:#faddd6!important;
        -attr-bg-color:#faddd6;
    }
}

td.color {
    &-1 {
        background-color:@color-1-dark;
        -attr-bgcolor:@color-1-dark;
        
        &a {
            background-color:@color-1-light;
            -attr-bgcolor:@color-1-light;
        }
    }
    
    &-2 {
        background-color:@color-2-dark;
        -attr-bgcolor:@color-2-dark;
        
         &a {
            background-color:@color-2-light;
            -attr-bgcolor:@color-2-light;
        }
    }
    
    &-3 {
        background-color:@color-3-dark;
        -attr-bgcolor:@color-3-dark;
        
        &a {
            background-color:@color-3-light;
            -attr-bgcolor:@color-3-light;
        }
    }
    
    &-4 {
        background-color:@color-4-dark;
        -attr-bgcolor:@color-4-dark;
        
        &a {
            background-color:@color-4-light;
            -attr-bgcolor:@color-4-light;
        }
    }
    
    &-5 {
        background-color:@color-5-dark;
        -attr-bgcolor:@color-5-dark;
        
         &a {
            background-color:@color-5-light;
            -attr-bgcolor:@color-5-light;
        }
    }
    
    &-6 {
        background-color:@color-6-dark;
        -attr-bgcolor:@color-6-dark;
         &a {
            background-color:@color-6-light;
            -attr-bgcolor:@color-6-light;
        }
    }
    
    &-7 {
        background-color:@color-7-dark;
        -attr-bgcolor:@color-7-dark;
         &a {
            background-color:@color-7-light;
            -attr-bgcolor:@color-7-light;
        }
    }
    
    &-8 {
        background-color:@color-8-dark;
        -attr-bgcolor:@color-8-dark;
         &a {
            background-color:@color-8-light;
            -attr-bgcolor:@color-8-light;
        }
    }
    
    &-9 {
        background-color:@color-9-dark;
        -attr-bgcolor:@color-9-dark;
         &a {
            background-color:@color-9-light;
            -attr-bgcolor:@color-9-light;
        }
    }
    
    &-10 {
        background-color:@color-10-dark;
        -attr-bgcolor:@color-10-dark;
         &a {
            background-color:@color-10-light;
            -attr-bgcolor:@color-10-light;
        }
    }
    
    &-11 {
        background-color:@color-11-dark;
        -attr-bgcolor:@color-11-dark;
         &a {
            background-color:@color-11-light;
            -attr-bgcolor:@color-11-light;
        }
    }
    
    &-12 {
        background-color:@color-12-dark;
        -attr-bgcolor:@color-12-dark;
         &a {
            background-color:@color-12-light;
            -attr-bgcolor:@color-12-light;
        }
    }
    
}
